In [ ]:
# default_exp core

# pydantic-pandas

> API details.

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
#exporti

from pandas.core.frame import DataFrame as PandasDataFrame
from pydantic import (
    validator,
    root_validator
)
from pydantic import BaseModel as PydanticBaseModel
from pydantic.main import ModelMetaclass
from pydantic_pandas.default_standard_lib import *
from pydantic_pandas.utils import delegates
from IPython.display import JSON

## DataFrame

> subclass Pandas DataFrame to make it play nicely with pydantic

In [ ]:
class DataFrame(PandasDataFrame):
    
    @classmethod
    def __get_validators__(cls):
        yield cls.validate
    
    @classmethod
    def __modify_schema__(cls,field_schema):
        field_schema.update({'type':'DataFrame'})
    
    @classmethod
    def validate(cls,v):
        return cls(v)

## Base Model

> -  `_repr_json_` for Jupyter display
> - json encoders for DataFrame, Array

In [ ]:
class BaseModel(PydanticBaseModel):

    def _repr_json_(self):
        try:
            return json.loads(self.json())
        except:
            pass
            
    class Config:
        json_encoders = {
            DataFrame: lambda df: json.loads(df.to_json()),
            np.ndarray: lambda arr: arr.tolist(),
            pd.Series: lambda ser: json.loads(ser.to_json(date_format='iso'))
        }

#### Regular Model

In [ ]:
class Model(BaseModel):
    integer: int
    string: str

In [ ]:
Model(integer=1,string='a')

Model(integer=1, string='a')

#### Model with a DataFrame

In [ ]:
class Model(BaseModel):
    df: DataFrame
Model(df = pd.DataFrame({'a':[1,2,3]}))

Model(df=   a
0  1
1  2
2  3)

In [ ]:
Model.schema()

{'title': 'Model',
 'type': 'object',
 'properties': {'df': {'title': 'Df', 'type': 'DataFrame'}},
 'required': ['df']}

## TypedArray

In [ ]:
_key_completions_ = list({np.dtype(k).name for k in np.typeDict.keys() if type(k)==str})
_key_completions_

<ipython-input-99-fe0015481123>:1: DeprecationWarning: Numeric-style type codes are deprecated and will result in an error in the future.
  _key_completions_ = list({np.dtype(k).name for k in np.typeDict.keys() if type(k)==str})

['float16',
 'uint16',
 'bytes',
 'complex128',
 'uint32',
 'object',
 'str',
 'bool',
 'datetime64',
 'complex64',
 'uint8',
 'float64',
 'int64',
 'int32',
 'timedelta64',
 'float32',
 'void',
 'uint64',
 'float128',
 'int16',
 'int8',
 'complex256']

In [ ]:
#export 
from typing import Any
from pandas.api.types import pandas_dtype
from pydantic.utils import update_not_none

class TypedArray(pd.Series):
    dtype: Any = np.object_
        
    @classmethod
    def __get_validators__(cls):

        yield cls.validate_array
    
    @classmethod
    def __modify_schema__(cls, field_schema: Dict[str, Any]) -> None:

        update_not_none(
            field_schema,
            type='Numpy Array',
            inner_type = cls.dtype
        )
    
    @classmethod
    def validate_array(cls, array):
        dtype = cls.dtype
        
        if dtype == dt.date or dtype==dt.datetime or dtype=='datetime64':
            dtype = pandas_dtype('datetime64[ns]')
            
        return pd.Series(array,dtype=pandas_dtype(dtype))


#exporti

class ArrayMeta(type):
    def _ipython_key_completions_(self):
        return _key_completions_
    
    def __getitem__(self, dtype):

        return type('ConstrainedArray', (TypedArray,), {'dtype': dtype})
    

#exporti 

class ConstrainedArray(DataFrame, metaclass=ArrayMeta):
    pass

In [ ]:
class Model(BaseModel):
    string: ConstrainedArray[str]
    date: ConstrainedArray[dt.date]
    number: ConstrainedArray[int]

In [ ]:
model = Model(
    string=['a','b','c'],
    number=[1,2,3],
    date=['1994-06-01']
)
model

Model(string=0    a
1    b
2    c
dtype: object, date=0   1994-06-01
dtype: datetime64[ns], number=0    1
1    2
2    3
dtype: int64)

In [ ]:
pd.DataFrame(model.dict())

  string       date  number
0      a 1994-06-01       1
1      b        NaT       2
2      c        NaT       3

## Base Frame to add validation to the whole model

In [ ]:
from pydantic import root_validator

class BaseFrame(BaseModel):
    index: Any = None
    
#     class Config:
#         allow_population_by_field_name = True
    @root_validator
    def validate_nan(cls,values):
        df = pd.DataFrame(
            index= values.pop('index'),
            data=values,
            
        )

        for column,field in cls.__fields__.items():
            if field.required:
                assert df[column].isna().sum() == 0, f"required column {column} has nan values"
            elif field.default:
                df[column] = df[column].fillna(value = field.default)
        return df.reset_index().to_dict()
    @property
    def df(self):
        return pd.DataFrame(
            index=self.index,
            data = self.dict(exclude={'index'})
        )

In [ ]:
from pydantic import Field

class Model(BaseFrame):
    string: ConstrainedArray[str] = Field('default')
    date: ConstrainedArray[dt.date] = Field(None,description='a required date field')
    number: ConstrainedArray[int] = None

In [ ]:
m = Model(
    index = [0,1],
    string = ['a','b'],
    date = ['1994-06-01',dt.date.today()],
    number = [1,2]
)

#### What about Aliases?

In [ ]:
class Model(BaseFrame):
    string:ConstrainedArray[str] = Field(alias='String Column')
    numbers:ConstrainedArray[int] = Field(alias='Number Column')

In [ ]:
model = Model.parse_obj({
    "String Column":['a','b','c'],
    "Number Column":[1,2,3]
}
)
model.df

  string  numbers
0      a        1
1      b        2
2      c        3

In [ ]:
df = pd.DataFrame(model.dict(by_alias=True))
df

   index String Column  Number Column
0      0             a              1
1      1             b              2
2      2             c              3

In [ ]:
Model.parse_obj(df)

Model(index={0: 0, 1: 1, 2: 2}, string={0: 'a', 1: 'b', 2: 'c'}, numbers={0: 1, 1: 2, 2: 3})

### Validators

In [ ]:
3%3

0

In [ ]:
from pydantic import validator

class Model(BaseFrame):
    numbers: ConstrainedArray[int]
    fizz: bool = None
    buzz: bool = None
    
    @validator('fizz',always=True)
    def _is_fizz(cls,v,values):
        return values['numbers'].apply(lambda x: x%3==0)
    def

In [ ]:
Model(numbers=range(1,100)).df

    numbers   fizz  buzz
0         1  False  None
1         2  False  None
2         3   True  None
3         4  False  None
4         5  False  None
..      ...    ...   ...
94       95  False  None
95       96   True  None
96       97  False  None
97       98  False  None
98       99   True  None

[99 rows x 3 columns]

### Delegate pandas functions to create custom fields

In [ ]:
from pydantic_pandas.utils import delegates

In [ ]:
class PandasDateTime():
    kwargs:dict = {}
    
    @classmethod
    def __get_validators__(cls):
        yield cls._to_datetime

    @classmethod
    def _to_datetime(cls,array):
        return pd.to_datetime(array,**cls.kwargs)

class PandasNumeric():
    kwargs:dict = {}
    
    @classmethod
    def __get_validators__(cls):
        yield cls._to_numeric

    @classmethod
    def _to_numeric(cls,array):
        return pd.to_numeric(array,**cls.kwargs)

In [ ]:

@delegates(pd.to_datetime)
def pandas_datetime(default_value=...,**kwargs):
    return type('PandasDateTimeType', (PandasDateTime,), {'kwargs':kwargs})

@delegates(pd.to_numeric)
def pandas_numeric(default_value=...,**kwargs):
    return type('PandasNumericType', (PandasNumeric,), {'kwargs':kwargs})

In [ ]:
pd.Categorical()

In [ ]:
pd.Period(dt.date.today(),freq='m')

Period('2021-09', 'M')

In [ ]:
class Model(BaseFrame):
    date: pandas_datetime(errors='coerce') = None
    numbers: pandas_numeric()

In [ ]:
Model(
    date=['1994-06-01','error'],
    numbers = [1/9,np.e],
    other_numbers = [1/9,np.e],
)

Model(index={0: 0, 1: 1}, date={0: Timestamp('1994-06-01 00:00:00'), 1: NaT}, numbers={0: 0.1111111111111111, 1: 2.718281828459045})

## Constrained Frame

In [ ]:
#exporti 

from typing import Dict, Any, Type
from pydantic import ValidationError
def update_not_none(mapping: Dict[Any, Any], **update: Any) -> None:
    mapping.update({k: v for k, v in update.items() if v is not None})

In [ ]:
#export 

class TypedFrame(DataFrame):
    columns: Optional[list] = None
    row_model: Optional[Type[BaseModel]] = None
        
    @classmethod
    def __get_validators__(cls):
        yield cls.validate_columns
        yield cls.validate_rows
    
    @classmethod
    def __modify_schema__(cls, field_schema: Dict[str, Any]) -> None:
        row_model=None
        if cls.row_model:
            row_model = cls.row_model.schema()
        update_not_none(
            field_schema,
            columns=cls.columns,
            row_model=row_model
        )
    @classmethod
    def validate_columns(cls,df):
        if cls.columns:
            for c in cls.columns:
                if c not in df.columns:
                    raise ValueError(f"{c} not found in columns index: {df.columns}")
        return df
    
    @classmethod
    def validate_rows(cls, df):
        
        if cls.row_model:
            parsed = []
            
            for record in df.to_dict('records'):
                try:
                    model = cls.row_model.parse_obj(record)
                    parsed.append(model.dict())
                except ValidationError as e:
                    
                    if hasattr(cls.row_model.Config,'on_error'):
                        if cls.row_model.Config.on_error=='skip':
                            continue
                    raise e
                            
            return pd.DataFrame.from_records(parsed)
        return df

In [ ]:
#exporti

class FrameMeta(type):
    def __getitem__(self, constraint):
        if type(constraint)==tuple:
            return type('ConstrainedFrame', (TypedFrame,), {'columns': constraint})
        elif hasattr(constraint,'__get_validators__'):
            return type('ConstrainedFrame', (TypedFrame,), {'row_model': constraint})
        else:
            raise NotImplementedError(f"The constraint you provided is to compatible with the 'TypedFrame' Object. {constraint} ")
    

#exporti 

class ConstrainedFrame(DataFrame, metaclass=FrameMeta):
    pass

The `conframe` function will allow us to create a constrained frame type with multiple parameters at the expense of some operational overhead and some extra typing. This pattern is lifted from Pydantic functions like "constr" and "confloat".

In [ ]:
#exporti

def conframe(
    *,
    columns: list = None,
    row_model: Type[BaseModel] = None
) -> Type[DataFrame]:
    # use kwargs then define conf in a dict to aid with IDE type hinting
    namespace = dict(columns=columns,row_model=row_model)
    return type('ConstrainedFrameValue', (ConstrainedFrame,), namespace)

### Example uses for `ConstrainedFrame`

#### DataFrames as Model Attributes

In [ ]:
df = pd.DataFrame(
    {"metric":['a','b','c'],
     "value":[1,2,'3']
    }
)

class Record(BaseModel):
    metric: str
    value: float
    not_there: Optional[str]

class Model(BaseModel):
    # a dataframe that is validated using a row model
    validate_with_model: ConstrainedFrame[Record]
    validate_with_columns: ConstrainedFrame['metric','value']
    validate_with_conframe: DataFrame = conframe(
        columns=('metric','value'),
        row_model=Record
    )

model = Model(
    validate_with_columns=df,
    validate_with_model=df,
    validate_with_conframe=df
)
print(model.validate_with_model.dtypes['value']) # the `Record` Model parse input values into floats
print(model.validate_with_columns.dtypes['value']) # validating just the column names took the raw values.

float64
object

In [ ]:
model

Model(validate_with_model=  metric  value not_there
0      a    1.0      None
1      b    2.0      None
2      c    3.0      None, validate_with_columns=  metric value
0      a     1
1      b     2
2      c     3)

#### Usage with Validate Agruments Decorator

In [ ]:
from pydantic import validate_arguments,Field

class PlayerBattingStats(BaseModel):
    player: str = Field(alias='PLAYER')
    at_bats: int = Field(alias='AB')
    games: int = Field(alias='G')
    home_runs: int = Field(alias='HR')
    
    class Config:
        on_error = 'skip'

In [ ]:
@validate_arguments
def compute_hr_per_game(df:ConstrainedFrame[PlayerBattingStats],precision=3):
    df['batting_average'] = (df['home_runs']/df['games']).round(precision)
    return df

This is our raw DataFrame.

In [ ]:
df = pd.read_html("https://www.espn.com/mlb/history/leaders",header=1,index_col=0)[0]
df.iloc[9:15]

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
NaN,Babe Ruth,22,2503,8399,2174,2873,506,136,714,1983,2056,1330,123,117,.342
NaN,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
11.0,Bill Terry,14,1721,6428,1120,2193,373,112,154,1078,537,449,56,6,.341
NaN,Pete Browning,13,1183,4820,954,1646,295,85,46,0,466,167,258,0,.341
NaN,Willie Keeler,19,2123,8591,1719,2932,241,145,33,0,524,36,495,0,.341
14.0,Lou Gehrig,17,2164,8001,1888,2721,534,163,493,1995,1508,790,102,101,.340

Some headers are mixed into the table and yield bad data. Those rows are removed during validation because they don't conform to the row model.

In [ ]:
compute_hr_per_game(df).iloc[9:15]

           player  at_bats  games  home_runs  batting_average
9       Babe Ruth     8399   2503        714            0.285
10     Bill Terry     6428   1721        154            0.089
11  Pete Browning     4820   1183         46            0.039
12  Willie Keeler     8591   2123         33            0.016
13     Lou Gehrig     8001   2164        493            0.228
14  George Sisler     8267   2055        102            0.050

In [ ]:
from pydantic import HttpUrl,validator

class BattingLeaderRecord(BaseModel):
    rank: int = Field(alias='RK')
    Name: str
    AVG: float
        
    @validator('Name')
    def _remove_team_from_name(cls,v):
        """remove the last 3 letters from the name column"""
        return v[0:-3]

In [ ]:
class BattingAverageLeaders(BaseModel):
    url: HttpUrl = "https://www.espn.com/mlb/stats/player/_/view/batting/table/batting/sort/avg/dir/desc"
    raw_data: DataFrame
    normalized_data: ConstrainedFrame[BattingLeaderRecord]
    timestamp:dt.date=Field(
        default_factory=lambda: dt.date.today()
    )
    
    def __init__(
        self,
        url = "https://www.espn.com/mlb/stats/player/_/view/batting/table/batting/sort/avg/dir/desc",
    ):
        raw_data = pd.concat(pd.read_html(url)[0:2],axis=1)
        super().__init__(
            raw_data=raw_data,
            normalized_data=raw_data
        )

In [ ]:
BattingAverageLeaders

__main__.BattingAverageLeaders

In [ ]:
leaders = BattingAverageLeaders()
leaders

BattingAverageLeaders(url='https://www.espn.com/mlb/stats/player/_/view/batting/table/batting/sort/avg/dir/desc', raw_data=    RK                      Name POS   GP   AB    R    H    AVG  2B  3B  HR  \
0    1    Frank SchwindelOAK/CHC  1B   60  224   40   76  0.339  18   1  14
1    2            Trea TurnerWSH  SS  143  576  100  187  0.325  33   3  25
2    3              Juan SotoWSH  LF  149  494  110  157  0.318  20   2  29
3    4           Yuli GurrielHOU  1B  142  521   80  165  0.317  31   0  14
4    5  Vladimir Guerrero Jr.TOR  DH  157  588  120  184  0.313  27   1  46
5    6       Michael BrantleyHOU  LF  118  458   68  143  0.312  29   2   8
6    7         Starling MarteMIA  CF  116  454   86  141  0.311  27   2  12
7    8       Nick CastellanosCIN  RF  135  523   94  162  0.310  37   1  33
8    9           Bryce HarperPHI  RF  137  474   99  146  0.308  40   1  34
9   10        Adam FrazierPIT/SD  2B  150  561   82  172  0.307  34   5   5
10  11        Brandon CrawfordSF  SS  133  464   75  140  0.302  29   3  23
11  12           Austin RileyATL  3B  156  577   89  174  0.302  32   1  32
12  13             Nicky LopezKC  2B  147  485   76  146  0.301  21   6   2
13  14           Tim AndersonCHW  SS  120  515   92  155  0.301  28   2  17
14  15        Freddie FreemanATL  1B  156  591  118  177  0.299  25   2  31
15  16         Bryan ReynoldsPIT  LF  155  550   91  164  0.298  34   7  24
16  17      Teoscar HernandezTOR  RF  139  534   90  159  0.298  29   0  31
17  18         Cedric MullinsBAL  CF  155  586   89  174  0.297  37   5  30
18  19        Xander BogaertsBOS  SS  141  517   88  153  0.296  34   1  23
19  20       Bryan De La CruzMIA  RF   54  186   17   55  0.296   7   2   5
20  21            Bo BichetteTOR  SS  155  624  117  184  0.295  27   1  28
21  22       Paul GoldschmidtSTL  1B  155  594  101  175  0.295  35   2  31
22  23              Ty FranceSEA  3B  148  557   81  163  0.293  30   1  18
23  24            Jean SeguraPHI  SS  130  510   76  149  0.292  27   3  14
24  25            Kyle TuckerHOU  LF  137  492   80  143  0.291  36   3  28
25  26           Wander FrancoTB  SS   66  262   51   76  0.290  18   5   7
26  27           Alex VerdugoBOS  LF  145  531   88  154  0.290  31   2  13
27  28          J.D. MartinezBOS  LF  147  558   90  160  0.287  41   3  28
28  29        Alcides EscobarWSH  SS   72  307   51   88  0.287  20   2   3
29  30            Aaron JudgeNYY  RF  144  536   87  153  0.285  24   0  37
30  31          Josh HarrisonWSH  2B  136  496   58  140  0.282  33   2   8
31  32          Tyler O'NeillSTL  LF  137  468   85  132  0.282  25   1  32
32  33      Fernando Tatis Jr.SD  SS  125  461   98  130  0.282  29   0  41
33  34           Amed RosarioCLE  SS  140  543   74  153  0.282  25   6  11
34  35    Lourdes Gurriel Jr.TOR  LF  139  492   61  138  0.280  28   2  21
35  36         Whit MerrifieldKC  RF  158  646   95  180  0.279  41   3  10
36  37           Manny MachadoSD  3B  149  551   90  153  0.278  31   2  27
37  38          Salvador PerezKC   C  157  606   87  168  0.277  23   0  48
38  39          Carlos CorreaHOU  SS  145  545  101  151  0.277  34   1  24
39  40              C.J. CronCOL  1B  140  462   69  128  0.277  30   1  28
40  41        Jonathan SchoopDET  2B  155  611   82  169  0.277  29   1  21
41  42         Yordan AlvarezHOU  DH  141  521   91  144  0.276  33   1  32
42  43          Rafael DeversBOS  3B  152  572   97  158  0.276  37   1  35
43  44      Giancarlo StantonNYY  DH  136  497   62  137  0.276  18   0  35
44  45           Raimel TapiaCOL  LF  134  473   69  130  0.275  26   2   6
45  46            Jose AltuveHOU  2B  142  587  114  161  0.274  30   1  31
46  47          Justin TurnerLAD  3B  146  518   82  142  0.274  21   0  25
47  48             Matt OlsonOAK  1B  153  548  100  150  0.274  35   0  38
48  49      Jeimer CandelarioDET  3B  148  550   73  150  0.273  42   3  16
49  49          J.P. CrawfordSEA  SS  156  605   88  165  0.273  37   0   9

    RBI   TB   BB    K  SB    OBP    SLG    OPS  WAR
0    41  138   16   38   2  0.386  0.616  1.002  1.6
1    67  301   40  107  32  0.372  0.523  0.895  6.0
2    94  268  140   87   9  0.467  0.543  1.010  7.1
3    79  238   59   66   1  0.383  0.457  0.839  3.7
4   106  351   85  107   4  0.403  0.597  1.000  6.7
5    45  200   33   51   1  0.364  0.437  0.801  2.5
6    54  208   43   97  45  0.384  0.458  0.842  4.6
7    97  300   39  120   3  0.362  0.574  0.936  3.1
8    82  290   99  129  13  0.430  0.612  1.041  5.7
9    42  231   47   68  10  0.370  0.412  0.782  4.0
10   89  244   56  102  11  0.378  0.526  0.904  5.6
11  103  304   52  163   0  0.367  0.527  0.894  5.7
12   43  185   46   72  21  0.364  0.381  0.746  4.0
13   59  238   21  119  18  0.329  0.462  0.791  4.0
14   82  299   84  105   8  0.392  0.506  0.898  4.5
15   89  284   74  118   5  0.387  0.516  0.903  5.8
16  112  281   35  143  11  0.348  0.526  0.874  4.3
17   59  311   59  121  30  0.366  0.531  0.897  6.0
18   79  258   55  110   5  0.365  0.499  0.864  4.7
19   19   81   17   51   1  0.356  0.435  0.792  1.3
20  101  297   39  135  24  0.340  0.476  0.816  5.2
21   98  307   67  134  12  0.367  0.517  0.884  6.2
22   72  249   44  105   0  0.369  0.447  0.816  4.1
23   58  224   39   76   9  0.351  0.439  0.790  3.8
24   88  269   51   88  14  0.355  0.547  0.902  5.1
25   36  125   24   36   2  0.353  0.477  0.830  3.2
26   61  228   51   92   6  0.354  0.429  0.783  2.3
27   99  291   54  146   0  0.349  0.522  0.870  2.6
28   27  121   15   52   3  0.336  0.394  0.730  1.5
29   95  288   73  156   6  0.371  0.537  0.908  5.8
30   59  201   31   73   9  0.345  0.405  0.750  2.1
31   77  255   38  165  14  0.349  0.545  0.894  5.7
32   95  282   62  145  25  0.367  0.612  0.978  6.5
33   55  223   28  119  12  0.318  0.411  0.729  2.0
34   84  233   32  102   1  0.323  0.474  0.797  3.1
35   73  257   39  100  40  0.318  0.398  0.716  3.6
36  101  269   61  100  12  0.347  0.488  0.835  5.0
37  121  335   27  165   1  0.318  0.553  0.871  5.4
38   88  259   74  114   0  0.363  0.475  0.838  7.0
39   90  244   58  116   1  0.371  0.528  0.899  3.1
40   82  263   36  130   1  0.319  0.430  0.750  2.1
41  101  275   50  140   1  0.347  0.528  0.875  2.9
42  108  302   62  141   5  0.352  0.528  0.880  3.2
43   96  260   61  151   0  0.356  0.523  0.880  3.3
44   50  178   40   69  20  0.330  0.376  0.706  1.4
45   82  286   66   90   5  0.348  0.487  0.836  4.3
46   83  238   60   97   2  0.359  0.459  0.819  3.6
47  109  299   87  108   4  0.376  0.546  0.921  5.6
48   66  246   63  135   0  0.352  0.447  0.799  3.5
49   52  229   55  111   3  0.335  0.379  0.714  3.7  , normalized_data=    rank                   Name    AVG
0      1    Frank SchwindelOAK/  0.339
1      2            Trea Turner  0.325
2      3              Juan Soto  0.318
3      4           Yuli Gurriel  0.317
4      5  Vladimir Guerrero Jr.  0.313
5      6       Michael Brantley  0.312
6      7         Starling Marte  0.311
7      8       Nick Castellanos  0.310
8      9           Bryce Harper  0.308
9     10        Adam FrazierPIT  0.307
10    11        Brandon Crawfor  0.302
11    12           Austin Riley  0.302
12    13             Nicky Lope  0.301
13    14           Tim Anderson  0.301
14    15        Freddie Freeman  0.299
15    16         Bryan Reynolds  0.298
16    17      Teoscar Hernandez  0.298
17    18         Cedric Mullins  0.297
18    19        Xander Bogaerts  0.296
19    20       Bryan De La Cruz  0.296
20    21            Bo Bichette  0.295
21    22       Paul Goldschmidt  0.295
22    23              Ty France  0.293
23    24            Jean Segura  0.292
24    25            Kyle Tucker  0.291
25    26           Wander Franc  0.290
26    27           Alex Verdugo  0.290
27    28          J.D. Martinez  0.287
28    29        Alcides Escobar  0.287
29    30            Aaron Judge  0.285
30    31          Josh Harrison  0.282
31    32          Tyler O'Neill  0.282
32    33      Fernando Tatis Jr  0.282
33    34           Amed Rosario  0.282
34    35    Lourdes Gurriel Jr.  0.280
35    36         Whit Merrifiel  0.279
36    37           Manny Machad  0.278
37    38          Salvador Pere  0.277
38    39          Carlos Correa  0.277
39    40              C.J. Cron  0.277
40    41        Jonathan Schoop  0.277
41    42         Yordan Alvarez  0.276
42    43          Rafael Devers  0.276
43    44      Giancarlo Stanton  0.276
44    45           Raimel Tapia  0.275
45    46            Jose Altuve  0.274
46    47          Justin Turner  0.274
47    48             Matt Olson  0.274
48    49      Jeimer Candelario  0.273
49    49          J.P. Crawford  0.273, timestamp=datetime.date(2021, 9, 30))

In [ ]:
assert type(leaders.timestamp)==str
display(leaders.raw_data.head())
display(leaders.normalized_data.head())

In [ ]:
#export 

class TypedArray(pd.Series):
    
    @classmethod
    def __get_validators__(cls):
        yield cls.validate_type
        
    @classmethod
    def __modify_schema__(cls,field_schema:Dict)->Dict:
        field_schema.update(
            type="<Pandas Series>"
        )
        
    @classmethod
    def validate_type(cls,val):
        print('validating array')
        print(val)
        return cls(val)
    
class ArrayMeta(type):
    def __getitem__(self,t):
        return type('Array', (TypedArray,), {'inner_type':t})
    
class Array(pd.Series,metaclass=ArrayMeta):
    pass

def conarray(*args,**kwargs) -> Type[TypedArray]:
    
    return type('ConstrainedArray',(TypedArray,), kwargs)

In [ ]:
#export 

class PandasDataFrame(DataFrame):
    """
    Pandas DataFrame Validation
    """

    @classmethod
    def __get_validators__(cls):
        # one or more validators may be yielded which will be called in the
        # order to validate the input, each validator will receive as an input
        # the value returned from the previous validator
        yield cls.validate

    @classmethod
    def __modify_schema__(cls, field_schema):
        # __modify_schema__ should mutate the dict it receives in place,
        # the returned value will be ignored
        field_schema.update(
            type='Pandas DataFrame'
        )

    @classmethod
    def validate(cls, v):
        if not isinstance(v, pd.DataFrame):
            raise TypeError(f'Dataframe required. Got {type(v)} instead')
        if v.empty:
            raise ValueError("Dataframe can't be empty")
        return v
    def __init__(self,*args,**kwargs):
        print('making the pandas data frame')
        super(PandasDataFrame,self).__init__(*args,**kwargs)

In [ ]:
#exporti 

DataFrameModelMetaclass = ForwardRef('DataFrameModelMetaclass')

def extract_ddf_from_model_fields(model:ModelMetaclass) -> 'PandasDataFrame':
    """Returns default df for DataFrameModelMetaclass ._repr_html_() method"""
    d={}
    for k,v in model.__fields__.items():
        d[k]=[v.required,v.type_]
    return pd.DataFrame(d,index=['required','type'])

In [ ]:
#export 

class DataFrameModelMetaclass(ModelMetaclass):
    def __new__(cls,name,bases,dct):
        print("in DF Meta __new__")
        print(name)
        print(bases)

        d = dct.get('__annotations__')
        if d:
            d = {k:conarray(v) for k,v in d.items()}
            dct['__annotations__']=d
        print(dct)
        model = ModelMetaclass.__new__(cls,name,bases,dct)
        model._default_df_ = extract_ddf_from_model_fields(model)
        
        return model
#     def __getitem__(self,t):
#         return type('Array', (TypedArray,), {'inner_type':t})
    
#     def _repr_json_(cls):
        
#         both_schemas = dict(
#             pandas_schema = json.loads(cls._default_df_.to_json()),
#             pydantic_schema = cls.schema()
#         )
#         return both_schemas
    
    def _repr_html_(cls):
        return cls._default_df_.to_html()

class BaseFrame(PydanticBaseModel,PandasDataFrame,metaclass=DataFrameModelMetaclass):
    """Doc from BaseFame"""
    def __init__(self,*args,**kwargs):
        print("base frame init")
        super(BaseFrame,self).__init__(**kwargs)
        super(PandasDataFrame,self).__init__(self.dict())
    
    @root_validator()
    def _base_frame_root_validator(cls,values):
        print('In Base Frame Root validator')
        return values

In [ ]:
class MovieModel(BaseFrame):
    title: str
    year: int

In [ ]:
MovieModel

In [ ]:
#MovieModel(title='cocktail',year=1988)

In [ ]:
movies = MovieModel(
        title=['Cocktail','Cheers','That Thing You Do!'],
        year=[1988,1982,1996]
    )

In [ ]:
movies

In [ ]:
try:
    MovieModel.from_records(movies.to_dict('records'))
except Exception as e:
    print("I wish this worked")
    print(e)

## How about Sub-classing ?

In [ ]:
class DetailedMovieModel(MovieModel):
    review: str
    stars: int

In [ ]:
DetailedMovieModel(
    review=['Perfect','Amazing','The Best'],
    stars=[10,10,10],
    **movies.dict(
        include=set(movies.__fields__.keys()),
    )
)

In [ ]:
!nbdev_build_lib