In [ ]:
# default_exp core

# pydantic-pandas

> API details.

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
#exporti

from pandas.core.frame import DataFrame as PandasDataFrame
from pydantic import (
    validator,
    root_validator
)
from pydantic import BaseModel as PydanticBaseModel
from pydantic.main import ModelMetaclass
from pydantic_pandas.default_standard_lib import *
from pydantic_pandas.utils import delegates
from IPython.display import JSON
from typing import Any
from pandas.api.types import pandas_dtype
from pydantic.utils import update_not_none
from pydantic import root_validator

## DataFrame

> subclass Pandas DataFrame to make it play nicely with pydantic

In [ ]:
#export 

class DataFrame(PandasDataFrame):
    
    @classmethod
    def __get_validators__(cls):
        yield cls.validate
    
    @classmethod
    def __modify_schema__(cls,field_schema):
        field_schema.update({'type':'DataFrame'})
    
    @classmethod
    def validate(cls,v):
        return cls(v)

## Base Model

> -  `_repr_json_` for Jupyter display
> - json encoders for DataFrame, Array

In [ ]:
#export 

class BaseModel(PydanticBaseModel):

    def _repr_json_(self):
        try:
            return json.loads(self.json())
        except:
            pass
            
    class Config:
        json_encoders = {
            DataFrame: lambda df: json.loads(df.to_json()),
            np.ndarray: lambda arr: arr.tolist(),
            pd.Series: lambda ser: json.loads(ser.to_json(date_format='iso'))
        }

#### Regular Model

In [ ]:
class Model(BaseModel):
    integer: int
    string: str

In [ ]:
Model(integer=1,string='a')

Model(integer=1, string='a')

#### Model with a DataFrame

In [ ]:
class Model(BaseModel):
    df: DataFrame
Model(df = pd.DataFrame({'a':[1,2,3]}))

Model(df=   a
0  1
1  2
2  3)

In [ ]:
Model.schema()

{'title': 'Model',
 'type': 'object',
 'properties': {'df': {'title': 'Df', 'type': 'DataFrame'}},
 'required': ['df']}

## TypedArray

In [ ]:
#exporti
_key_completions_ = list({np.dtype(k).name for k in np.typeDict.keys() if type(k)==str})

<ipython-input-10-4c5edebb5a2b>:2: DeprecationWarning: Numeric-style type codes are deprecated and will result in an error in the future.
  _key_completions_ = list({np.dtype(k).name for k in np.typeDict.keys() if type(k)==str})

In [ ]:
#export 

class TypedArray(pd.Series):
    dtype: Any = np.object_
        
    @classmethod
    def __get_validators__(cls):

        yield cls.validate_array
    
    @classmethod
    def __modify_schema__(cls, field_schema: Dict[str, Any]) -> None:

        update_not_none(
            field_schema,
            type='Numpy Array',
            inner_type = cls.dtype
        )
    
    @classmethod
    def validate_array(cls, array):
        dtype = cls.dtype
        
        if dtype == dt.date or dtype==dt.datetime or dtype=='datetime64':
            dtype = pandas_dtype('datetime64[ns]')
            
        return pd.Series(array,dtype=pandas_dtype(dtype))


#exporti

class ArrayMeta(type):
    def _ipython_key_completions_(self):
        return _key_completions_
    
    def __getitem__(self, dtype):

        return type('ConstrainedArray', (TypedArray,), {'dtype': dtype})
    

#exporti 

class ConstrainedArray(DataFrame, metaclass=ArrayMeta):
    pass

In [ ]:
class Model(BaseModel):
    string: ConstrainedArray[str]
    date: ConstrainedArray[dt.date]
    number: ConstrainedArray[int]

In [ ]:
model = Model(
    string=['a','b','c'],
    number=[1,2,3],
    date=['1994-06-01']
)
model

Model(string=0    a
1    b
2    c
dtype: object, date=0   1994-06-01
dtype: datetime64[ns], number=0    1
1    2
2    3
dtype: int64)

In [ ]:
pd.DataFrame(model.dict())

  string       date  number
0      a 1994-06-01       1
1      b        NaT       2
2      c        NaT       3

## Base Frame to add validation to the whole model

In [ ]:
#export

class BaseFrame(BaseModel):
    index: Any = None
    
#     class Config:
#         allow_population_by_field_name = True
    @root_validator
    def validate_nan(cls,values):
        df = pd.DataFrame(
            index= values.pop('index'),
            data=values,
            
        )

        for column,field in cls.__fields__.items():
            if field.required:
                assert df[column].isna().sum() == 0, f"required column {column} has nan values"
            elif field.default:
                df[column] = df[column].fillna(value = field.default)
        return df.reset_index().to_dict()
    @property
    def df(self):
        return pd.DataFrame(
            index=self.index,
            data = self.dict(exclude={'index'})
        )

In [ ]:
from pydantic import Field

class Model(BaseFrame):
    string: ConstrainedArray[str] = Field('default')
    date: ConstrainedArray[dt.date] = Field(None,description='a required date field')
    number: ConstrainedArray[int] = None

In [ ]:
m = Model(
    index = [0,1],
    string = ['a','b'],
    date = ['1994-06-01',dt.date.today()],
    number = [1,2]
)

#### What about Aliases?

In [ ]:
class Model(BaseFrame):
    string:ConstrainedArray[str] = Field(alias='String Column')
    numbers:ConstrainedArray[int] = Field(alias='Number Column')

In [ ]:
model = Model.parse_obj({
    "String Column":['a','b','c'],
    "Number Column":[1,2,3]
}
)
model.df

  string  numbers
0      a        1
1      b        2
2      c        3

In [ ]:
df = pd.DataFrame(model.dict(by_alias=True))
df

   index String Column  Number Column
0      0             a              1
1      1             b              2
2      2             c              3

In [ ]:
Model.parse_obj(df)

Model(index={0: 0, 1: 1, 2: 2}, string={0: 'a', 1: 'b', 2: 'c'}, numbers={0: 1, 1: 2, 2: 3})

### Validators

In [ ]:
from pydantic import validator

class Model(BaseFrame):
    numbers: ConstrainedArray[int]
    fizz: bool = None
    buzz: bool = None
    fizz_buzz: bool = None
    
    @validator('fizz',always=True)
    def _is_fizz(cls,v,values):
        return values['numbers'].apply(lambda x: x%3==0)
    
    @validator('buzz',always=True)
    def _is_buzz(cls,v,values):
        return values['numbers'].apply(lambda x: x%5==0)
    
    @validator('fizz_buzz',always=True)
    def _is_fizz_buzz(cls,v,values):
        return pd.DataFrame([values['fizz'],values['buzz']]).sum(axis=0)==2

In [ ]:
df = Model(numbers=range(1,100)).df
df.head()

   numbers   fizz   buzz  fizz_buzz
0        1  False  False      False
1        2  False  False      False
2        3   True  False      False
3        4  False  False      False
4        5  False   True      False

In [ ]:
df.iloc[14]

numbers        15
fizz         True
buzz         True
fizz_buzz    True
Name: 14, dtype: object

In [ ]:
class Model(BaseFrame):
    numbers: ConstrainedArray[int]
    sum: ConstrainedArray[int] = None
    
    @validator('sum',always=True)
    def sum_numbers(cls,v,values):
        return values['numbers'].sum()

In [ ]:
Model(numbers=[1,2,3]).df.sum()

numbers     6
sum        18
dtype: int64

### Delegate pandas functions to create custom fields

In [ ]:
from pydantic_pandas.utils import delegates

In [ ]:
class PandasDateTime():
    kwargs:dict = {}
    
    @classmethod
    def __get_validators__(cls):
        yield cls._to_datetime

    @classmethod
    def _to_datetime(cls,array):
        return pd.to_datetime(array,**cls.kwargs)

class PandasNumeric():
    kwargs:dict = {}
    
    @classmethod
    def __get_validators__(cls):
        yield cls._to_numeric

    @classmethod
    def _to_numeric(cls,array):
        return pd.to_numeric(array,**cls.kwargs)

In [ ]:

@delegates(pd.to_datetime)
def pandas_datetime(default_value=...,**kwargs):
    return type('PandasDateTimeType', (PandasDateTime,), {'kwargs':kwargs})

@delegates(pd.to_numeric)
def pandas_numeric(default_value=...,**kwargs):
    return type('PandasNumericType', (PandasNumeric,), {'kwargs':kwargs})

In [ ]:
class Model(BaseFrame):
    date: pandas_datetime(errors='coerce') = None
    numbers: pandas_numeric()

In [ ]:
Model(
    date=['1994-06-01','error'],
    numbers = [1/9,np.e],
    other_numbers = [1/9,np.e],
)

Model(index={0: 0, 1: 1}, date={0: Timestamp('1994-06-01 00:00:00'), 1: NaT}, numbers={0: 0.1111111111111111, 1: 2.718281828459045})

## Constrained Frame

In [ ]:
#exporti 

from pydantic import ValidationError

In [ ]:
#export 

class TypedFrame(DataFrame):
    columns: Optional[list] = None
    row_model: Optional[Type[BaseModel]] = None
        
    @classmethod
    def __get_validators__(cls):
        yield cls.validate_columns
        yield cls.validate_rows
    
    @classmethod
    def __modify_schema__(cls, field_schema: Dict[str, Any]) -> None:
        row_model=None
        if cls.row_model:
            row_model = cls.row_model.schema()
        update_not_none(
            field_schema,
            columns=cls.columns,
            row_model=row_model
        )
    @classmethod
    def validate_columns(cls,df):
        if cls.columns:
            for c in cls.columns:
                if c not in df.columns:
                    raise ValueError(f"{c} not found in columns index: {df.columns}")
        return df
    
    @classmethod
    def validate_rows(cls, df):
        
        if cls.row_model:
            parsed = []
            
            for record in df.to_dict('records'):
                try:
                    model = cls.row_model.parse_obj(record)
                    parsed.append(model.dict())
                except ValidationError as e:
                    
                    if hasattr(cls.row_model.Config,'on_error'):
                        if cls.row_model.Config.on_error=='skip':
                            continue
                    raise e
                            
            return pd.DataFrame.from_records(parsed)
        return df

In [ ]:
#exporti

class FrameMeta(type):
    def __getitem__(self, constraint):
        if type(constraint)==tuple:
            return type('ConstrainedFrame', (TypedFrame,), {'columns': constraint})
        elif hasattr(constraint,'__get_validators__'):
            return type('ConstrainedFrame', (TypedFrame,), {'row_model': constraint})
        else:
            raise NotImplementedError(f"The constraint you provided is to compatible with the 'TypedFrame' Object. {constraint} ")
    

#exporti 

class ConstrainedFrame(DataFrame, metaclass=FrameMeta):
    pass

The `conframe` function will allow us to create a constrained frame type with multiple parameters. This pattern is lifted from Pydantic functions like "constr" and "confloat".

In [ ]:
#exporti

def conframe(
    *,
    columns: list = None,
    row_model: Type[BaseModel] = None
) -> Type[DataFrame]:
    # use kwargs then define conf in a dict to aid with IDE type hinting
    namespace = dict(columns=columns,row_model=row_model)
    return type('ConstrainedFrameValue', (ConstrainedFrame,), namespace)

### Example uses for `ConstrainedFrame`

#### DataFrames as Model Attributes

In [ ]:
df = pd.DataFrame(
    {"metric":['a','b','c'],
     "value":[1,2,'3']
    }
)

class Record(BaseModel):
    metric: str
    value: float
    not_there: Optional[str]

class Model(BaseModel):
    # a dataframe that is validated using a row model
    validate_with_model: ConstrainedFrame[Record]
    validate_with_columns: ConstrainedFrame['metric','value']
    validate_with_conframe: DataFrame = conframe(
        columns=('metric','value'),
        row_model=Record
    )

model = Model(
    validate_with_columns=df,
    validate_with_model=df,
    validate_with_conframe=df
)
print(model.validate_with_model.dtypes['value']) # the `Record` Model parse input values into floats
print(model.validate_with_columns.dtypes['value']) # validating just the column names took the raw values.

float64
object

In [ ]:
model

Model(validate_with_model=  metric  value not_there
0      a    1.0      None
1      b    2.0      None
2      c    3.0      None, validate_with_columns=  metric value
0      a     1
1      b     2
2      c     3)

#### Usage with Validate Agruments Decorator

In [ ]:
from pydantic import validate_arguments,Field

class PlayerBattingStats(BaseModel):
    player: str = Field(alias='PLAYER')
    at_bats: int = Field(alias='AB')
    games: int = Field(alias='G')
    home_runs: int = Field(alias='HR')
    
    class Config:
        on_error = 'skip'

In [ ]:
@validate_arguments
def compute_hr_per_game(df:ConstrainedFrame[PlayerBattingStats],precision=3):
    df['batting_average'] = (df['home_runs']/df['games']).round(precision)
    return df

This is our raw DataFrame.

In [ ]:
df = pd.read_html("https://www.espn.com/mlb/history/leaders",header=1,index_col=0)[0]
df.iloc[9:15]

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
NaN,Babe Ruth,22,2503,8399,2174,2873,506,136,714,1983,2056,1330,123,117,.342
NaN,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
11.0,Bill Terry,14,1721,6428,1120,2193,373,112,154,1078,537,449,56,6,.341
NaN,Pete Browning,13,1183,4820,954,1646,295,85,46,0,466,167,258,0,.341
NaN,Willie Keeler,19,2123,8591,1719,2932,241,145,33,0,524,36,495,0,.341
14.0,Lou Gehrig,17,2164,8001,1888,2721,534,163,493,1995,1508,790,102,101,.340

Some headers are mixed into the table and yield bad data. Those rows are removed during validation because they don't conform to the row model.

In [ ]:
compute_hr_per_game(df).iloc[9:15]

           player  at_bats  games  home_runs  batting_average
9       Babe Ruth     8399   2503        714            0.285
10     Bill Terry     6428   1721        154            0.089
11  Pete Browning     4820   1183         46            0.039
12  Willie Keeler     8591   2123         33            0.016
13     Lou Gehrig     8001   2164        493            0.228
14  George Sisler     8267   2055        102            0.050

In [ ]:
from pydantic import HttpUrl,validator

class BattingLeaderRecord(BaseModel):
    rank: int = Field(alias='RK')
    Name: str
    AVG: float
        
    @validator('Name')
    def _remove_team_from_name(cls,v):
        """remove the last 3 letters from the name column"""
        return v[0:-3]

In [ ]:
class BattingAverageLeaders(BaseModel):
    url: HttpUrl = "https://www.espn.com/mlb/stats/player/_/view/batting/table/batting/sort/avg/dir/desc"
    raw_data: DataFrame
    normalized_data: ConstrainedFrame[BattingLeaderRecord]
    timestamp:dt.date=Field(
        default_factory=lambda: dt.date.today()
    )
    
    def __init__(
        self,
        url = "https://www.espn.com/mlb/stats/player/_/view/batting/table/batting/sort/avg/dir/desc",
    ):
        raw_data = pd.concat(pd.read_html(url)[0:2],axis=1)
        super().__init__(
            raw_data=raw_data,
            normalized_data=raw_data
        )

In [ ]:
BattingAverageLeaders

__main__.BattingAverageLeaders

In [ ]:
leaders = BattingAverageLeaders()
leaders

BattingAverageLeaders(url='https://www.espn.com/mlb/stats/player/_/view/batting/table/batting/sort/avg/dir/desc', raw_data=    RK                      Name POS   GP   AB    R    H    AVG  2B  3B  HR  \
0    1        Trea TurnerLAD/WSH  SS  144  581  101  188  0.324  33   3  25
1    2              Juan SotoWSH  LF  148  494  110  157  0.318  20   2  29
2    3           Yuli GurrielHOU  1B  140  521   80  165  0.317  31   0  14
3    4  Vladimir Guerrero Jr.TOR  DH  157  588  120  184  0.313  27   1  46
4    5       Michael BrantleyHOU  LF  117  458   68  143  0.312  29   2   8
5    6       Nick CastellanosCIN  RF  135  523   94  162  0.310  37   1  33
6    7           Bryce HarperPHI  RF  137  474   99  146  0.308  40   1  34
7    8     Starling MarteOAK/MIA  CF  117  458   86  141  0.308  27   2  12
8    9        Adam FrazierPIT/SD  2B  151  566   83  174  0.307  35   5   5
9   10           Austin RileyATL  3B  156  577   89  174  0.302  32   1  32
10  11        Brandon CrawfordSF  SS  134  468   75  141  0.301  29   3  23
11  12             Nicky LopezKC  2B  147  485   76  146  0.301  21   6   2
12  13           Tim AndersonCHW  SS  120  515   92  155  0.301  28   2  17
13  14        Freddie FreemanATL  1B  156  591  118  177  0.299  25   2  31
14  15         Bryan ReynoldsPIT  LF  155  550   91  164  0.298  34   7  24
15  16      Teoscar HernandezTOR  RF  139  534   90  159  0.298  29   0  31
16  17         Cedric MullinsBAL  CF  155  586   89  174  0.297  37   5  30
17  18        Xander BogaertsBOS  SS  140  517   88  153  0.296  34   1  23
18  19            Bo BichetteTOR  SS  155  624  117  184  0.295  27   1  28
19  20       Paul GoldschmidtSTL  1B  155  594  101  175  0.295  35   2  31
20  21              Ty FranceSEA  3B  149  560   82  164  0.293  30   1  18
21  22            Jean SeguraPHI  SS  130  510   76  149  0.292  27   3  14
22  23            Kyle TuckerHOU  LF  136  492   80  143  0.291  36   3  28
23  24           Alex VerdugoBOS  LF  143  531   88  154  0.290  31   2  13
24  25          J.D. MartinezBOS  LF  144  558   90  160  0.287  41   3  28
25  26            Aaron JudgeNYY  RF  144  536   87  153  0.285  24   0  37
26  27           Amed RosarioCLE  SS  139  543   74  153  0.282  25   6  11
27  28      Fernando Tatis Jr.SD  SS  126  462   98  130  0.281  29   0  41
28  29    Lourdes Gurriel Jr.TOR  LF  139  492   61  138  0.280  28   2  21
29  30      Josh HarrisonOAK/WSH  2B  137  500   58  140  0.280  33   2   8
30  31          Tyler O'NeillSTL  LF  138  472   85  132  0.280  25   1  32
31  32           Manny MachadoSD  3B  150  555   92  155  0.279  31   2  28
32  33         Whit MerrifieldKC  RF  158  646   95  180  0.279  41   3  10
33  34          Salvador PerezKC   C  157  606   87  168  0.277  23   0  48
34  35          Carlos CorreaHOU  SS  145  545  101  151  0.277  34   1  24
35  36              C.J. CronCOL  1B  139  462   69  128  0.277  30   1  28
36  37        Jonathan SchoopDET  2B  153  611   82  169  0.277  29   1  21
37  38         Yordan AlvarezHOU  DH  140  521   91  144  0.276  33   1  32
38  39          Rafael DeversBOS  3B  152  572   97  158  0.276  37   1  35
39  40      Giancarlo StantonNYY  DH  135  497   62  137  0.276  18   0  35
40  41          Justin TurnerLAD  3B  147  519   83  143  0.276  22   0  25
41  41            Jared WalshLAA  1B  142  519   68  143  0.276  33   1  27
42  43           Raimel TapiaCOL  LF  130  473   69  130  0.275  26   2   6
43  44            Jose AltuveHOU  2B  142  587  114  161  0.274  30   1  31
44  45          J.P. CrawfordSEA  SS  157  608   88  166  0.273  37   0   9
45  46      Jeimer CandelarioDET  3B  147  550   73  150  0.273  42   3  16
46  46       Andrew BenintendiKC  LF  130  484   61  132  0.273  25   2  17
47  48     Isiah Kiner-FalefaTEX  3B  155  624   73  170  0.272  25   3   7
48  49         Randy ArozarenaTB  LF  137  514   91  140  0.272  31   3  20
49  50             Matt OlsonOAK  1B  153  551  100  150  0.272  35   0  38

    RBI   TB   BB    K  SB    OBP    SLG    OPS  WAR
0    68  302   40  109  32  0.371  0.520  0.891  6.0
1    94  268  140   87   9  0.467  0.543  1.010  7.1
2    79  238   59   66   1  0.383  0.457  0.839  3.7
3   106  351   85  107   4  0.403  0.597  1.000  6.7
4    45  200   33   51   1  0.364  0.437  0.801  2.5
5    97  300   39  120   3  0.362  0.574  0.936  3.2
6    82  290   99  129  13  0.430  0.612  1.041  5.7
7    54  208   43   98  45  0.381  0.454  0.835  4.4
8    43  234   47   68  10  0.370  0.413  0.784  4.1
9   103  304   52  163   0  0.367  0.527  0.894  5.7
10   89  245   56  102  11  0.377  0.524  0.901  5.8
11   43  185   46   72  21  0.364  0.381  0.746  4.0
12   59  238   21  119  18  0.329  0.462  0.791  4.0
13   82  299   84  105   8  0.392  0.506  0.898  4.5
14   89  284   74  118   5  0.387  0.516  0.903  5.9
15  112  281   35  143  11  0.348  0.526  0.874  4.2
16   59  311   59  121  30  0.366  0.531  0.897  6.2
17   79  258   55  110   5  0.365  0.499  0.864  4.8
18  101  297   39  135  24  0.340  0.476  0.816  5.5
19   98  307   67  134  12  0.367  0.517  0.884  6.2
20   73  250   44  106   0  0.368  0.446  0.814  4.1
21   58  224   39   76   9  0.351  0.439  0.790  3.7
22   88  269   51   88  14  0.355  0.547  0.902  5.1
23   61  228   51   92   6  0.354  0.429  0.783  2.4
24   99  291   54  146   0  0.349  0.522  0.870  2.9
25   95  288   73  156   6  0.371  0.537  0.908  5.6
26   55  223   28  119  12  0.318  0.411  0.729  2.0
27   95  282   62  146  25  0.366  0.610  0.976  6.5
28   84  233   32  102   1  0.323  0.474  0.797  2.9
29   59  201   31   74   9  0.342  0.402  0.744  2.2
30   77  255   38  166  14  0.346  0.540  0.886  5.7
31  103  274   62  100  12  0.349  0.494  0.842  5.3
32   73  257   39  100  40  0.318  0.398  0.716  3.7
33  121  335   27  165   1  0.318  0.553  0.871  5.5
34   88  259   74  114   0  0.363  0.475  0.838  6.9
35   90  244   58  116   1  0.371  0.528  0.899  3.2
36   82  263   36  130   1  0.319  0.430  0.750  2.0
37  101  275   50  140   1  0.347  0.528  0.875  2.8
38  108  302   62  141   5  0.352  0.528  0.880  3.1
39   96  260   61  151   0  0.356  0.523  0.880  3.2
40   83  240   60   97   3  0.360  0.462  0.823  3.6
41   92  259   47  150   2  0.339  0.499  0.838  2.6
42   50  178   40   69  20  0.330  0.376  0.706  1.4
43   82  286   66   90   5  0.348  0.487  0.836  4.4
44   52  230   56  111   3  0.336  0.378  0.715  3.8
45   66  246   63  135   0  0.352  0.447  0.799  3.5
46   71  212   33   97   8  0.317  0.438  0.755  2.3
47   52  222   27   89  20  0.313  0.356  0.669  4.1
48   69  237   52  163  16  0.352  0.461  0.813  3.8
49  109  299   88  108   4  0.375  0.543  0.917  5.7  , normalized_data=    rank                   Name    AVG
0      1        Trea TurnerLAD/  0.324
1      2              Juan Soto  0.318
2      3           Yuli Gurriel  0.317
3      4  Vladimir Guerrero Jr.  0.313
4      5       Michael Brantley  0.312
5      6       Nick Castellanos  0.310
6      7           Bryce Harper  0.308
7      8     Starling MarteOAK/  0.308
8      9        Adam FrazierPIT  0.307
9     10           Austin Riley  0.302
10    11        Brandon Crawfor  0.301
11    12             Nicky Lope  0.301
12    13           Tim Anderson  0.301
13    14        Freddie Freeman  0.299
14    15         Bryan Reynolds  0.298
15    16      Teoscar Hernandez  0.298
16    17         Cedric Mullins  0.297
17    18        Xander Bogaerts  0.296
18    19            Bo Bichette  0.295
19    20       Paul Goldschmidt  0.295
20    21              Ty France  0.293
21    22            Jean Segura  0.292
22    23            Kyle Tucker  0.291
23    24           Alex Verdugo  0.290
24    25          J.D. Martinez  0.287
25    26            Aaron Judge  0.285
26    27           Amed Rosario  0.282
27    28      Fernando Tatis Jr  0.281
28    29    Lourdes Gurriel Jr.  0.280
29    30      Josh HarrisonOAK/  0.280
30    31          Tyler O'Neill  0.280
31    32           Manny Machad  0.279
32    33         Whit Merrifiel  0.279
33    34          Salvador Pere  0.277
34    35          Carlos Correa  0.277
35    36              C.J. Cron  0.277
36    37        Jonathan Schoop  0.277
37    38         Yordan Alvarez  0.276
38    39          Rafael Devers  0.276
39    40      Giancarlo Stanton  0.276
40    41          Justin Turner  0.276
41    41            Jared Walsh  0.276
42    43           Raimel Tapia  0.275
43    44            Jose Altuve  0.274
44    45          J.P. Crawford  0.273
45    46      Jeimer Candelario  0.273
46    46       Andrew Benintend  0.273
47    48     Isiah Kiner-Falefa  0.272
48    49         Randy Arozaren  0.272
49    50             Matt Olson  0.272, timestamp=datetime.date(2021, 9, 30))

In [ ]:

display(leaders.raw_data.head())
display(leaders.normalized_data.head())

,RK,Name,POS,GP,AB,R,H,AVG,2B,3B,HR,RBI,TB,BB,K,SB,OBP,SLG,OPS,WAR
0,1,Trea TurnerLAD/WSH,SS,144,581,101,188,0.324,33,3,25,68,302,40,109,32,0.371,0.520,0.891,6.0
1,2,Juan SotoWSH,LF,148,494,110,157,0.318,20,2,29,94,268,140,87,9,0.467,0.543,1.010,7.1
2,3,Yuli GurrielHOU,1B,140,521,80,165,0.317,31,0,14,79,238,59,66,1,0.383,0.457,0.839,3.7
3,4,Vladimir Guerrero Jr.TOR,DH,157,588,120,184,0.313,27,1,46,106,351,85,107,4,0.403,0.597,1.000,6.7
4,5,Michael BrantleyHOU,LF,117,458,68,143,0.312,29,2,8,45,200,33,51,1,0.364,0.437,0.801,2.5

   rank                   Name    AVG
0     1        Trea TurnerLAD/  0.324
1     2              Juan Soto  0.318
2     3           Yuli Gurriel  0.317
3     4  Vladimir Guerrero Jr.  0.313
4     5       Michael Brantley  0.312

In [ ]:
!nbdev_build_lib

Converted 00_core.ipynb.
Converted 98_utils.ipynb.
Converted 99_default_standard_lib.ipynb.
Converted index.ipynb.